@charset "utf-8";

// bootstrap
@import "~bootstrap/dist/css/bootstrap.css";
@import "./gen.scss";

// fontawesome
@import "~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free-webfonts/css/fa-brands.css";
@import "~@fortawesome/fontawesome-free-webfonts/css/fa-regular.css";
@import "~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css";

// prismjs
@import "~prismjs/themes/prism.css";
@import "~prismjs/themes/prism-okaidia.css";

abbr,abbr[data-original-title], abbr[title]{text-decoration:none}

._nav{
  display:block;
}

._nav_personal{
  float:right;padding:12px 10px 0 0;text-align:right;
  .dropdown{display:inline-block;}
}

#lnb{
  overflow:auto;position:fixed;top:0;bottom:0;left:0;background:#292929;
  &::-webkit-scrollbar {
    width: 8px
  }

  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.3)
  }

  &::-webkit-scrollbar-thumb {
      background-color: #444;
      outline: 1px solid #708090;
  }
}
.tit_sec{
  margin:30px 0 15px;
}
.example{
  padding:10px 20px;
  border:1px solid #000;
  -webkit-border-radius:5px;
  border-radius:5px;
}
pre[class*="language-"]{
  max-height:500px;
}
div.code-toolbar > .toolbar{
  right:1.2em;
}

// btn
.btn-link{color:#000;}
.btn-link:hover{color:#000;}
.btn-light{
  color:#fff;
  background:#959595;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle,
.btn-light:hover{
  color:#fff;
  background:#000;
}
.btn-dark{
  color:#fff;
  background:#000;
}
.btn-dark:hover{
  color:#fff;
  background:#000;
}

//breadcrumb
.breadcrumb{
  background:#eee;
  .breadcrumb-item{
    &.active{color:#000;}
    &+.breadcrumb-item::before{color:#999;}
    a{
      color:#999;
    }
  }
}

//card
.card{border-radius:0;border:1px solid #efefef;}
.card-header{
  border-bottom:none;background:#fff;
  &:first-child{border-radius:0;}
}
.card-body{
  color:#7a7a7a;border-top:1px solid #efefef;background:#f6f6f6;
}

// tab
.nav-tabs{
  .nav-link{
    color:#999;
    &.active{color:#000;}
  }
}

//sweetalert
.swal-button{
  background-color:#292929;
}
.swal-icon--success__line{
  background-color:#292929;
}
.swal-icon--success{
  border-color:#292929;
}
.swal-icon--success__ring{
  border: 4px solid hsla(0,0,17%,.2)
}
.swal-icon--success__hide-corners{
  box-sizing:content-box;
}
.swal-button--cancel{
  color:#fff;
}

//sweetalert2
.swal2-popup{
  .swal2-styled{
    padding:.375rem .75rem !important;
    font-size:1rem !important;
    &.swal2-confirm{
      background-color:#292929 !important;
    }
  }
}

.form-check-input,.form-radio-input{
  -webkit-appearance:none;
}
.form-check-label{
  position:relative;
  padding:0 0 0 20px;
  &:after{
    overflow:hidden;
    position:absolute;
    top:50%;
    left:0;
    width:15px;
    height:15px;
    margin-top:-7px;
    background:url('../img/sp_chk.png') no-repeat;
    content:'';
  }
  input[type=radio] + &{
    &:after{
      background-position:-16px 0;
    }
  }
}
.form-check-input{
  &:checked + .form-check-label{
    &:after{
      background-position:0 -16px;
    }
  }
  &:disabled + .form-check-label{
    color:#b2b2b2;
    &:after{
      background-position:0 -32px;
    }
  }
}
input[type=radio].form-check-input{
  &:checked + .form-check-label{
    &:after{
      background-position:-16px -16px;
    }
  }
  &:disabled + .form-check-label{
    color:#b2b2b2;
    &:after{
      background-position:-16px -32px;
    }
  }
}

.progress-bar{
  background-color:#292929;
}

.srh_sec{
  @extend .example;
}

.body .main_container .tui-pagination .tui-is-selected{
  border-left-color:#292929;
  border-right-color:#292929;
  background:#292929;
}
